// Specific CSS for your home-page
.home-inner-box {
  width: 100%;
  height: 100%;
  // border-left: solid 6px $vvpao2;
  // border-bottom: solid 6px $vvpao2;
  // border-radius: 10px;
  // background-color: $bglight;
}

.inner-box {
  margin: 0% 0% 2% 0%;
  width: 100%;
  padding: 5px 25px 10px 10px;
  position: relative;
  // border-right: solid 3px $vvpao2;
  // border-top: solid 3px $vvpao2;
  // border-radius: 10px;
  background-color: white;
}

.driekwart {
  height: 72%;
}

.helft {
  height: 47%;
}

.derde {
  height: 31%;
}

.kwart {
  height: 23%;
}

.full {
  height: 100%;
}

.bg-box {
  background-image: image-url("vvpao-event-3.png");
  background-repeat: no-repeat;
  background-position: top;
}

@media screen and (min-width: 601px) {

  .bg-box {
    background-size: 100% auto;
  }

  .home-box {
    height: 650px;
  }

  .home-inner-box {
    padding: 10px 25px 10px 25px;
  }
}

@media screen and (max-width: 600px) {

  .bg-box {
    background-size: auto 200%;
  }

  .home-box {
    height: 500px;
  }

  .home-inner-box {
    padding: 5px 10px 5px 10px;
  }
}

.text-box-l {
  height: 70%;
  overflow: hidden;
}

.text-box-m {
  height: 60%;
  overflow: hidden;
}
