<% @newsitems.each do |ni| %>
  <div class="news-item-index">

      <%= image_tag ni.imagefilename1, class: "news-item-image"   %>

    <div class="news-item-title">
      <%= ni.title  %>
    </div>
    <% if user_signed_in? && current_user.admin %>
      <div class="knop-small" data-toggle="modal" data-target="#editNewsitem">
        Pas aan
      </div>
      <!-- Edit modal -->
      <div class="modal" id="editNewsitem" tabindex="-1" role="dialog" aria-labelledby="editNewsitemLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editNewsitemLabel">Pas newsitem aan</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <% @newsitem = ni %>
              <%= render 'partials/edit-newsitem' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="knop" data-dismiss="modal">annuleer</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
