<div class="page-header header1">
  Wachtwoord vergeten?
</div>
<div class="container-fluid sub-page">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-8 page-box">
      <p>Vul uw email adres in en klik op reset ww knop.</p>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                      label: "email adres: ",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
        <br>
        <br>
        <div class="form-actions">
          <%= f.button :submit, "reset ww", class: "knop" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
