<div class="page-header header1">
  {{ cms:text header}}
</div>
<div class="blok">
  <div class="header2">
    {{ cms:text header-ns1}}
  </div>
  <div class="nascholing-index">
    <div class="nascholing-image hidden-xs">
      {{ cms:file fotons1, as: image, label: "Nascholing1" }}
    </div>
    <div class="nascholing-data box-border">
      {{ cms:wysiwyg text-ns1}}
      <% if current_user %>
        <div>
          {{ cms:wysiwyg links-ns1 }}
        </div>
      <% else %>
        <div>
        {{ cms:text txt1-p}}
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="blok">
  <div class="header2">
    {{ cms:text header-ns2}}
  </div>
  <div class="nascholing-index">
    <div class="nascholing-image">
      {{ cms:file fotons2, as: image, label: "Nascholing2" }}
    </div>
    <div class="nascholing-data box-border">
      {{ cms:wysiwyg text-ns2}}
      <% if current_user %>
        <div>
          {{ cms:wysiwyg links-ns2 }}
        </div>
      <% else %>
        <div>
        {{ cms:text txt2-p}}
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="blok">
  <div class="header2">
    {{ cms:text header-ns6}}
  </div>
  <div class="nascholing-index">
    <div class="nascholing-image">
      {{ cms:file fotons6, as: image, label: "Nascholing6" }}
    </div>
    <div class="nascholing-data box-border"></div>
  </div>
</div>
<div class="blok">
  <div class="header2">
    {{ cms:text header-ns7}}
  </div>
  <div class="nascholing-index">
    <div class="nascholing-image">
      {{ cms:file fotons7, as: image, label: "Nascholing7" }}
    </div>
    <div class="nascholing-data box-border">

    </div>
  </div>
</div>
