<div class="page-header header1">
  <!-- {{ cms:text header}} -->
  Nascholing 2023
</div>
<div class="container-fluid sub-page">
  <div class="row-fluid">
    <div class="col-xs-12 col-sm-10 col-md-8 page-box"><!--
      {{ cms:wysiwyg text1 }} -->
      <table>
        <tr>
          <img src="assets/vvpao-event.png" alt="Image of event" class="user-image">
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="blok">
  <div class="header2">
      Header lkjsldfkjal
  </div>
  <div class="nascholing-index">
    <div class="nascholing-image">
      <img src="assets/vvpao-event.png" alt="Image of event" class="">
    </div>
    <div class="nascholing-data">
      Test en sflkjalkj lkjlskdjf lkj
      <br>
      <br>
      <% if current_user %>
        <div>
          Download links
        </div>
      <% else %>
        <div>
          Leden kunnen hier handouts downloaden (na inlog)
        </div>
      <% end %>
    </div>
  </div>
</div>
