.bestanden {
  border: solid 1px black;
}

.bestanden >tbody >tr {
  height: 35px;
}

.bestanden >tbody >tr >td, .bestanden >tbody >tr >th  {
  min-width: 150px;
  padding: 5px;
  border: solid 1px black;
}
