html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

@media screen and (min-width: 846px) {
  body {
    padding-bottom: 160px;
  }
}
@media screen and (max-width: 845px) {
  body {
    padding-bottom: 300px;
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: $vvpao2;
  transition: all 0.3s ease;
}

.footer-text-blok {
  padding: 0px 10px 0px 10px;
}

.info-header-foot {
  font-weight: 700;
}

a .info-header-foot-text {
  text-decoration: underline;
}

.footer-mobile {
  padding: 15px 0px 15px 20px;
}

.footer-browser {
  padding: 25px 40px 10px 35px;
  display: flex;
  justify-content: space-between;
}
