.logo {
  width: 100%;
  height: auto;
}

.logo-box {
  height: 400px;
  margin: 0% 0% 0% 10%;
  background-image: image-url("vvpao-event-2.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
