.nieuws-item {
  position: relative;
  margin: 0px 0px 10px 0px;
  display: flex;
}

.nieuws-item-show {
  margin: 0px 0px 50px 0px;
}

.nieuws-inhoud {
  margin: 0px 0px 0px 10px;
}

.nieuws-logo img {
  background-color: $vvpao2;
  border-radius: 50%;
  height: 50px;
}

.nieuws-title {
  height: 3em;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nieuws-title a:hover {
  background-color: black;
}

.nieuws-item .tekst {
  height: 7.5em;
  margin: 0px 0px 50px 0px;
  overflow: hidden;
}

.tekst a:hover {
  background-color: black;
}

.linkinlist:hover {
  background-color: black;
}

@media screen and (min-width: 601px) {
  .width-show {
    width: 600px;
  }

  .width-fp {
    width: 450px;
  }
}

@media screen and (max-width: 600px) {
  .width-show {
    width: 240px;
  }

  .width-fp {
    width: 240px;
  }
}
