.search-container {
  margin: 1% 3%;
  border-bottom: solid 2px $base;
  display: flex;
  flex-wrap: wrap;
}

.search-box {
  width: 300px;
  padding: 0px 15px 5px 0px;
}

.search-box button {
  float: right;
  padding: 6px 10px;
  font-size: 16px;
  // margin: 8px 16px 0px 0px;
  background: #ddd;
  cursor: pointer;
}

.search-box button:hover {
  background: #ccc;
}

.search-box input[type=text] {
  width: 247px;
  height: 36.9px;
  padding: 6px;
  border: none;
}

.search-box select {
  width: 247px;
  height: 37.61px;
  padding: 6px;
  font-size: 16px;
  border: none;
  background-color: white;
}
