// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

a:hover {
  color: white;
  text-decoration: none;
}

a {
  color: $base;
}

.knop > a {
  color: $plight;
}

.knop a:hover {
  background: $vvpao4;
  color: $pdark;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
html {
  height: 100%;
}

body {
  width: 100vw;
  min-height: 100%;
  position: relative;
  margin: 0;
  color: $pdark;
  background-color: white;
}

.header1 {
  margin-bottom: 5px;
  font-family: $headers-font;
}

.header2 {
  margin-bottom: 5px;
  font-family: $headers-font;
}

.knop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $plight;
  background: $vvpao3;
  cursor: pointer;
  // border: 2px solid $vvpao1;
  // border-radius: 6px;
}

.ckickable {
  cursor: pointer;
}

.knop:hover {
  background: $vvpao4;
  color: $pdark;
}

.knop:active {
  background: $vvpao4;
  box-shadow:  -2px 2px $vvpao2;
  transform: translateY(2px) translateX(-2px);
}

.div-knop-small {
  display:flex;
}

.knop-small {
  width: 60px;
  height: 22px;
  box-shadow: -2px 2px $vvpao2;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $plight;
  background: $vvpao3;
  cursor: pointer;
  // border: 2px solid $vvpao1;
  // border-radius: 6px;
}

.knop-small:hover {
  background: $vvpao4;
  color: $pdark;
}

.knop-small:active {
  background: $vvpao4;
  box-shadow:  -2px 2px $vvpao2;
  transform: translateY(2px) translateX(-2px);
}

.knop-linksonder {
  position: absolute;
  left: 0px;
  bottom: 10px;
}

.knop-linksonder-hoger {
  position: absolute;
  left: 35px;
  bottom: 230px;
}

.knop-linksonder-mobile {
  position: absolute;
  left: 35px;
  bottom: 280px;
}

.knop-linksonder-home-inner-box {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.knop-linksonder-page-box {
  position: absolute;
  left: 20px;
  bottom: -20px;
}

.border {
  border: solid 1px black;
}

@media screen and (min-width: 601px) {
  body {
   font-size: 16px;
  }

  .header1 {
    font-size: 25px;
  }

  .header2 {
    font-size: 20px;
  }

  .knop {
    width: 150px;
    height: 35px;
    box-shadow: -4px 4px $vvpao2;
  }
}

@media screen and (max-width: 600px) {
  body {
   font-size: 14px;
  }

  .header1 {
    font-size: 24px;
  }

  .header2 {
    font-size: 18px;
  }

  .knop {
    width: 100px;
    height: 22px;
    box-shadow: -2px 2px $vvpao2;
  }
}
