<p>Hallo <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>U ontvangt dit bericht omdat uw email adres op www.vvpao.amsterdam veranderd wordt in <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>U ontvangt dit bericht omdat uw email adres op www.vvpao.amsterdam veranderd is in<%= @resource.email %>.</p>
<% end %>
