<p>Aan <%= @resource.title %> <%= @resource.last_name %></p>

<p>Er is een verzoek ontvangen om uw wachtwoord te resetten. U kunt die doen via de link hieronder.</p>

<p><%= link_to 'Reset mijn wachtwoord', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Als die verzoek niet van u afkomstig is, negeer dan dit bericht.</p>
<p>Uw wachtwoord wordt niet aangepast, zolang u bovenstaande link niet gebruikt.</p>
